@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  background-clip: text;
  color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(168, 85, 247, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #db2777 var(--tw-gradient-to-position);
}

@layer base {
  .dark {
    --dark-color-900: hsl(0, 0%, 6%);
    --dark-color-700: hsl(219, 29%, 19%);

    --light-color-600: hsl(163, 100%, 18%);
    --light-color-400: rgb(172, 100%, 25%);

    --light-color-100: hsl(0, 0%, 95%);
    --yellow-color-300: hsl(50, 98%, 64%);

    --dark-shade-900: 0, 0%, 6%;
    --dark-shade-700: 219, 29%, 19%;
    --light-shade-600: 163, 100%, 18%;
    --light-shade-400: 172, 100%, 25%;
    --light-shade-100: 0, 0%, 95%;
    --yellow-shade-300: 50, 98%, 64%;

    --background: var(--dark-shade-900);
    --foreground: var(--light-shade-100);
    --card: var(--dark-shade-900);
    --card-foreground: var(--light-shade-100);
    --popover: var(--dark-shade-900);
    --popover-foreground: var(--light-shade-100);
    --primary: var(--dark-shade-700);
    --primary-foreground: var(--yellow-shade-300);
    --secondary: var(--light-shade-400);
    --secondary-foreground: var(--light-shade-100);
    --muted: var(--light-shade-600);
    --muted-foreground: var(--yellow-shade-300);
    --accent: var(--light-shade-600);
    --accent-foreground: var(--light-shade-100);
    --destructive: var(--yellow-shade-300);
    --destructive-foreground: var(--light-shade-100);
    --border: var(--light-shade-600);
    --input: var(--light-shade-600);
    --ring: var(--dark-shade-700);

    --radius: 1.2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
