@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(168, 85, 247, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #db2777 var(--tw-gradient-to-position);
}

.btn-gradient {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #a855f7 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(168, 85, 247, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #db2777 var(--tw-gradient-to-position);
}

@layer base {
  .dark {
    --dark-color-900: hsl(221, 39%, 11%);
    --dark-color-700: hsl(215, 28%, 17%);
    --light-color-600: hsl(0, 0%, 20%);
    --light-color-400: hsl(183, 26%, 57%);
    --light-color-100: hsl(0, 0%, 90%);

    --dark-shade-900: 221, 0%, 11%;
    --dark-shade-700: 215, 0%, 17%;
    --light-shade-600: 0 0% 20%;
    --light-shade-400: 183, 26%, 35%;
    --light-shade-100: 0, 0%, 90%;


    --background: var(--dark-shade-900);
    --foreground: var(--light-shade-100);
    --card: var(--dark-shade-900);
    --card-foreground: var(--light-shade-100);
    --popover: var(--dark-shade-900);
    --popover-foreground: var(--light-shade-100);
    --primary: var(--dark-shade-700);
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: var(--light-shade-400);
    --secondary-foreground: var(--light-shade-100);
    --muted: var(--light-shade-600);
    --muted-foreground: 0 0% 63.9%;
    --accent: var(--light-shade-600);
    --accent-foreground: var(--light-shade-100);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--light-shade-100);
    --border: var(--light-shade-600);
    --input: var(--light-shade-600);
    --ring: var(--dark-shade-700);

    --radius: 5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}